:root {
    --color-primario: #8dd0fd;
    --color-secundario:#84b2fd;
    --color-terciario: #57a1e6;
}

body {
    background-color: var(--color-primario);
    color: black;
    font-family: "Roboto Condensed", sans-serif;
}

    header{
        background-color: var(--color-terciario);
    }

    form{
        background-color: var(--color-secundario);
    }

    .btn-primary{
        background-color: var(--color-terciario);
        cursor:pointer;
    }

    button:hover{
        background-color: var(--color-secundario);
        color: white;
        transition: 0.5s;
    }

    footer{
        margin-top: auto;
        margin-bottom: 0;
        background-color: var(--color-terciario);
    }